<div id="generator-modal" class="modal">
    <div class="modal-content">
        <h2>Password Generator</h2>

        <div class="generator-row">
            <label>Length: <span id="length-value">16</span></label>
            <input type="range" id="length-slider" min="8" max="64" value="16"
                   oninput="updateLength(this.value)">
        </div>

        <div class="generator-options">
            <label><input type="checkbox" id="uppercase" checked> Uppercase</label>
            <label><input type="checkbox" id="lowercase" checked> Lowercase</label>
            <label><input type="checkbox" id="numbers" checked> Numbers</label>
            <label><input type="checkbox" id="symbols"> Symbols</label>
        </div>

        <div class="generated-password-wrapper">
            <code id="generated-password"></code>
            <button onclick="copyToClipboard(generated-password.textContent)">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round">
                    <rect width="8" height="4" x="8" y="2" rx="1" ry="1" />
                    <path d="M8 4H6a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-2" />
                    <path d="M16 4h2a2 2 0 0 1 2 2v4" />
                    <path d="M21 14H11" />
                    <path d="m15 10-4 4 4 4" />
                </svg>
            </button>
        </div>

        <div class="modal-actions">
            <button class="btn btn-secondary" onclick="closeGenerator()">Close</button>
            <button class="btn btn-primary" onclick="generatePassword()">Regenerate</button>
        </div>
    </div>
</div>

