<!-- Password Generator Modal -->
<div id="generator-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Password Generator</h2>
            <button class="modal-close" onclick="closeGenerator()">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round">
                    <path d="M18 6 6 18" />
                    <path d="m6 6 12 12" />
                </svg>
            </button>
        </div>

        <!-- Generated Password Display -->
        <div class="password-display-wrapper">
            <div class="password-display" id="generated-password">
                Click Generate
            </div>
            <button class="copy-password-btn" onclick="copyGeneratedPassword()" title="Copy password">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="20"
                     height="20"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round">
                    <rect width="14" height="14" x="8" y="8" rx="2" ry="2" />
                    <path d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2" />
                </svg>
            </button>
        </div>

        
        <!-- Password Strength Indicator 
        <div class="password-strength">
            <div class="strength-label">Strength:</div>
            <div class="strength-bars">
                <div class="strength-bar" id="strength-bar-1"></div>
                <div class="strength-bar" id="strength-bar-2"></div>
                <div class="strength-bar" id="strength-bar-3"></div>
                <div class="strength-bar" id="strength-bar-4"></div>
            </div>
            <div class="strength-text" id="strength-text">-</div>
        </div>-->

        <!-- Generator Options -->
        <div class="generator-options">
            <!-- Length Slider -->
            <div class="option-group">
                <div class="option-label">
                    <span>Password Length</span>
                    <span class="option-value" id="length-value">16</span>
                </div>
                <input type="range"
                       class="slider"
                       id="length-slider"
                       min="8"
                       max="64"
                       value="16"
                       oninput="updateLength(this.value)">
                <div class="slider-labels">
                    <span>8</span>
                    <span>64</span>
                </div>
            </div>

            <!-- Character Type Options -->
            <div class="checkbox-options">
                <label class="checkbox-option">
                    <input type="checkbox" id="uppercase" checked onchange="generatePassword()">
                    <div class="checkbox-label">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="20"
                             height="20"
                             viewBox="0 0 24 24"
                             fill="none"
                             stroke="currentColor"
                             stroke-width="2"
                             stroke-linecap="round"
                             stroke-linejoin="round">
                            <path d="M4 7V4h16v3" />
                            <path d="M9 20h6" />
                            <path d="M12 4v16" />
                        </svg>
                        <span>Uppercase Letters (A-Z)</span>
                    </div>
                </label>

                <label class="checkbox-option">
                    <input type="checkbox" id="lowercase" checked onchange="generatePassword()">
                    <div class="checkbox-label">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="20"
                             height="20"
                             viewBox="0 0 24 24"
                             fill="none"
                             stroke="currentColor"
                             stroke-width="2"
                             stroke-linecap="round"
                             stroke-linejoin="round">
                            <path d="M7 20V7h8" />
                            <path d="M3 7h10" />
                        </svg>
                        <span>Lowercase Letters (a-z)</span>
                    </div>
                </label>

                <label class="checkbox-option">
                    <input type="checkbox" id="numbers" checked onchange="generatePassword()">
                    <div class="checkbox-label">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="20"
                             height="20"
                             viewBox="0 0 24 24"
                             fill="none"
                             stroke="currentColor"
                             stroke-width="2"
                             stroke-linecap="round"
                             stroke-linejoin="round">
                            <path d="M12 20V10" />
                            <path d="M18 20V4" />
                            <path d="M6 20v-4" />
                        </svg>
                        <span>Numbers (0-9)</span>
                    </div>
                </label>

                <label class="checkbox-option">
                    <input type="checkbox" id="symbols" onchange="generatePassword()">
                    <div class="checkbox-label">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="20"
                             height="20"
                             viewBox="0 0 24 24"
                             fill="none"
                             stroke="currentColor"
                             stroke-width="2"
                             stroke-linecap="round"
                             stroke-linejoin="round">
                            <path d="M3 12h18" />
                            <path d="M3 18h18" />
                            <path d="M3 6h18" />
                        </svg>
                        <span>Special Symbols (!^#$%&*)</span>
                    </div>
                </label>
            </div>
        </div>

        <!-- Action Buttons -->
        <div class="modal-actions">
            <button class="btn btn-secondary" onclick="closeGenerator()">
                Close
            </button>
            <button class="btn btn-primary" onclick="generatePassword()">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="20"
                     height="20"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round">
                    <path d="M21 12a9 9 0 1 1-9-9c2.52 0 4.93 1 6.74 2.74L21 8" />
                    <path d="M21 3v5h-5" />
                </svg>
                Generate New Password
            </button>
        </div>
    </div>
</div>


@section Styles {
    <link rel="stylesheet" href="~/css/password-generator.css" asp-append-version="true" />
}