@using PasswordManager.ViewModels.Vault
@model DeleteAccountViewModel
@{
    ViewData["Title"] = "Settings";
    ViewData["EnablePasswordGenerator"] = true;
    Layout = "_VaultLayout";
}
<!-- Header -->
<header class="header">
    <div class="header-title-section">
        <h1 class="page-title">Delete Account</h1>
        <p class="page-subtitle">Be careful with this page</p>
    </div>
</header>
<!-- Settings Content -->
<div class="content-area">
    <div class="form-container">
        <!-- Form for sending code -->
        <form asp-action="PostDeleteAccountPassword" asp-controller="Settings" method="post" class="vault-form">
            @Html.AntiForgeryToken()
            <div class="form-section">
                <h3 class="form-section-title">Password</h3>
                <div class="form-group">
                    <label for="email">Enter your password</label>
                    <input type="password" id="password" asp-for="Password" class="form-input" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-actions">
                <a href="@Url.Action("Settings", "Vault")" class="btn btn-secondary">Cancel</a>
                <button type="submit" class="btn btn-primary">
                    Verify
                </button>
            </div>
        </form>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/vault-forms.css" asp-append-version="true" />
}