@using PasswordManager.ViewModels
@model EmailVerificationViewModel

@{
    ViewData["Title"] = "Email verification";
    ViewData["BodyClass"] = "auth-page";
    Layout = "_Layout";
}

<div class="login-container">

    <!-- Application logo -->
    <div class="logo">
        <div class="logo-icon">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 stroke="currentColor"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round">
                <path d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z" />
            </svg>
        </div>

        <div class="logo-title">
            <svg viewBox="0 0 400 120" class="logo-svg">
                <text x="50%" y="50%"
                      text-anchor="middle"
                      dominant-baseline="middle"
                      class="logo-text-outline">
                    AuthVault
                </text>
                <text x="50%" y="50%"
                      text-anchor="middle"
                      dominant-baseline="middle"
                      class="logo-text-fill">
                    AuthVault
                </text>
            </svg>
        </div>
    </div>

    <!-- Tagline -->
    <div class="tagline">
        <p>Please enter the 6-digit code sent to your email</p>
    </div>

    <!-- Verification form -->
    <form asp-action="EmailVerification" asp-controller="Register" method="post">

        @Html.AntiForgeryToken()

        <div class="form-group">
            <label asp-for="VerificationCode"></label>

            <input type="hidden" asp-for="Email" />
            <input asp-for="VerificationCode"
                   type="text"
                   inputmode="numeric"
                   pattern="[0-9]*"
                   class="form-control"
                   placeholder="Enter verification code" />

            <span asp-validation-for="VerificationCode" class="text-danger"></span>
        </div>

        <button type="submit" class="submit-btn">
            Verify email
        </button>
    </form>

    <!-- Resend code -->
    <div class="verify-password">
        <form asp-action="ResendVerificationCode"
              asp-controller="EmailVerification"
              method="post">
            @Html.AntiForgeryToken()
            <input asp-for="Email" type="hidden"/>
            <button type="submit" class="resend-btn">
                Resend verification code
            </button>
        </form>

        
    </div>

</div>

@section Styles {
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
